* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #420039, #932F6D);
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 4rem;
  background-image: linear-gradient(to right,black, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  padding: 15px 30px;
  border-style: none;
  border-radius: 50px;
  background-color: black;
  color: white;
}

img {
  margin-top: 1rem;
  width: 70px;
  border-radius: 50%;
}

.user-info {
  font-size: 12px;
  color: white;
}

.user-info p {
  margin-bottom: .5rem;
  font-size: 10px;
}

.container-quiz {
  height: 100%;
  margin: 1.5rem;
  padding: 3rem;
  background-color: silver;
  border-radius: 10px;
}

.footer {
  padding-top: 2rem;
  color: white;
}
