* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #420039, #932F6D);
}

.App {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.container {
  height: 100%;
  width: 100%;
}

.row {
  border: 2px solid black;
  height: 80vh;
  width: 80vw;
  margin: 4rem auto;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;
}

.title {
  border: 2px solid black;
  margin: 1rem;
}

.title h1 {
  font-size: 3.5rem;
  background-image: linear-gradient(to right,black, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dummyText {
  position: relative;
  font-size: 1.5rem;
  padding: 3rem;
  line-height: 1.7;
}

button {
  padding: 15px 30px;
  border-style: none;
  border-radius: 50px;
  background-color: black;
  color: white;
}

img {
  margin-top: 1rem;
  width: 50px;
  border-radius: 50%;
}


.user-info {
  font-size: 0.8rem;
  color: white;
}

.user-info p {
  margin-bottom: .5rem;
  font-size: 10px;
}

.quiz-container {
  height: 100%;
}

.quiz-container .hud {
  border: 2px solid blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: 700;
}

.question-container {
  position: relative;
  height: 100%;
  max-height: 500px;
  margin: 1rem;
  padding: 2rem;
  background-color: silver;
  border-radius: 10px;
}

#question {
  padding-bottom: 2rem;
  background: linear-gradient(to right, #420039, #932F6D);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

.answer-container {
  width: 100%;
  display: flex;
  font-size: 1.8rem;
  background-color: white;
  border: 0.1rem solid rgba(151, 36, 107, 0.8);
  margin-bottom: 0.5rem;

}

.answer-container:hover {
  cursor: pointer;
}

.answer-choice {
  padding: 1rem;
  background-color: #932F6D;
  width: 10%;
}

.footer {
  padding-top: 1rem;
  color: white;
}
